In [67]:
import pandas as pd
import numpy as np

In [68]:
### Data Exploration
np.random.seed(1)
df = pd.read_csv('2020.csv', header=[0,1])
df.head(2)

  Unnamed: 0_level_0 Unnamed: 1_level_0 Overall                             \
                  Rk             School       G   W   L   W-L%   SRS   SOS
0                  1  Abilene Christian      23  13  10  0.565 -2.90 -5.05
1                  2          Air Force      25   9  16  0.360 -0.53  2.88

  Conf.     Home    Away    Points       Unnamed: 16_level_0 School Totals  \
      W   L    W  L    W  L    Tm.  Opp. Unnamed: 16_level_1            MP
0     8   4   10  2    3  8   1733  1472                 NaN           935
1     3  10    6  6    3  7   1838  1863                 NaN          1000

                                                                               \
    FG   FGA    FG%   3P  3PA    3P%   FT  FTA    FT%  ORB  TRB  AST  STL BLK
0  602  1366  0.441  163  524  0.311  366  496  0.738  262  791  344  212  60
1  618  1358  0.455  215  574  0.375  387  519  0.746  178  810  354  124  39


   TOV   PF
0  328  485
1  305  424

In [69]:
### Data Cleaning

### Only want a single header
df = pd.read_csv('2020.csv', header=[1])
df.head(2)

,Rk,School,G,W,L,W-L%,SRS,SOS,W.1,L.1,W.2,L.2,W.3,L.3,Tm.,Opp.,Unnamed: 16,MP,FG,FGA,FG%,3P,3PA,3P%,FT,FTA,FT%,ORB,TRB,AST,STL,BLK,TOV,PF
0,1,Abilene Christian,23,13,10,0.565,-2.90,-5.05,8,4,10,2,3,8,1733,1472,NaN,935,602,1366,0.441,163,524,0.311,366,496,0.738,262,791,344,212,60,328,485
1,2,Air Force,25,9,16,0.360,-0.53,2.88,3,10,6,6,3,7,1838,1863,NaN,1000,618,1358,0.455,215,574,0.375,387,519,0.746,178,810,354,124,39,305,424

In [70]:
#rename w.1 etc
df.rename(columns={"W.1": "Conf W", "W.2": "Home W", "W.3": "Away W"}, inplace=True)
df.rename(columns={"L.1": "Conf L", "L.2": "Home L", "L.3": "Away L"}, inplace=True)
df.head(1)

,Rk,School,G,W,L,W-L%,SRS,SOS,Conf W,Conf L,Home W,Home L,Away W,Away L,Tm.,Opp.,Unnamed: 16,MP,FG,FGA,FG%,3P,3PA,3P%,FT,FTA,FT%,ORB,TRB,AST,STL,BLK,TOV,PF
0,1,Abilene Christian,23,13,10,0.565,-2.9,-5.05,8,4,10,2,3,8,1733,1472,NaN,935,602,1366,0.441,163,524,0.311,366,496,0.738,262,791,344,212,60,328,485

In [71]:
df.drop(['Unnamed: 16', 'Rk'], axis=1, inplace = True)
df.head(4)

,School,G,W,L,W-L%,SRS,SOS,Conf W,Conf L,Home W,Home L,Away W,Away L,Tm.,Opp.,MP,FG,FGA,FG%,3P,3PA,3P%,FT,FTA,FT%,ORB,TRB,AST,STL,BLK,TOV,PF
0,Abilene Christian,23,13,10,0.565,-2.90,-5.05,8,4,10,2,3,8,1733,1472,935,602,1366,0.441,163,524,0.311,366,496,0.738,262,791,344,212,60,328,485
1,Air Force,25,9,16,0.360,-0.53,2.88,3,10,6,6,3,7,1838,1863,1000,618,1358,0.455,215,574,0.375,387,519,0.746,178,810,354,124,39,305,424
2,Akron,24,18,6,0.750,7.97,-0.53,8,3,12,2,5,3,1823,1569,960,618,1390,0.445,229,604,0.379,358,461,0.777,236,896,329,117,68,320,421
3,Alabama A&M,22,6,16,0.273,-18.22,-8.27,3,8,4,3,2,12,1390,1609,885,499,1310,0.381,121,434,0.279,271,388,0.698,217,757,238,132,44,258,387

In [33]:
pd.set_option('display.max_columns', None)
df[df['Unnamed: 1_level_0','School']== 'Air Force']

  Unnamed: 0_level_0 Unnamed: 1_level_0 Overall                           \
                  Rk             School       G  W   L  W-L%   SRS   SOS
1                  2          Air Force      25  9  16  0.36 -0.53  2.88

  Conf.     Home    Away    Points       Unnamed: 16_level_0 School Totals  \
      W   L    W  L    W  L    Tm.  Opp. Unnamed: 16_level_1            MP
1     3  10    6  6    3  7   1838  1863                 NaN          1000

                                                                               \
    FG   FGA    FG%   3P  3PA    3P%   FT  FTA    FT%  ORB  TRB  AST  STL BLK
1  618  1358  0.455  215  574  0.375  387  519  0.746  178  810  354  124  39


   TOV   PF
1  305  424