In [223]:
from sklearn import tree #decision tree
from sklearn.ensemble import RandomForestRegressor #random Forest
from sklearn.model_selection import cross_val_score # evaluate our model
from sklearn.model_selection import GridSearchCV # gridsearch to find best hyper parameters
import pandas as pd
import numpy as np
import datetime as dt

In [224]:
Schedule_and_stats_played = pd.read_csv("2020_2021_Played_Games.csv", index_col=0)
Schedule_and_stats_unplayed = pd.read_csv("2020_2021_Unplayed_Games.csv", index_col=0)

In [225]:
Schedule_and_stats_played["Date"] = pd.to_datetime(Schedule_and_stats_played["Date"])
Schedule_and_stats_unplayed["Date"] = pd.to_datetime(Schedule_and_stats_unplayed["Date"])

In [226]:
Schedule_and_stats_played[(Schedule_and_stats_played['home_neutral']=='Michigan')]

,Date,visitor_neutral,PTS,home_neutral,PTS.1,School_x,G_x,W_x,L_x,W-L%_x,...,FT_y,FTA_y,FT%_y,ORB_y,TRB_y,AST_y,STL_y,BLK_y,TOV_y,PF_y
1257,2020-11-25,Bowling Green State,82,Michigan,96,Bowling Green State,25,14,11,0.560,...,311.0,400.0,0.778,219.0,899.0,371.0,106.0,103.0,266.0,353.0
1258,2020-12-02,Ball State,65,Michigan,84,Ball State,23,10,13,0.435,...,311.0,400.0,0.778,219.0,899.0,371.0,106.0,103.0,266.0,353.0
1259,2020-11-29,Oakland,71,Michigan,81,Oakland,30,12,18,0.400,...,311.0,400.0,0.778,219.0,899.0,371.0,106.0,103.0,266.0,353.0
1260,2020-12-09,Toledo,71,Michigan,91,Toledo,29,21,8,0.724,...,311.0,400.0,0.778,219.0,899.0,371.0,106.0,103.0,266.0,353.0
1261,2021-03-04,Michigan State,50,Michigan,69,Michigan State,27,15,12,0.556,...,311.0,400.0,0.778,219.0,899.0,371.0,106.0,103.0,266.0,353.0
1262,2021-03-02,Illinois,76,Michigan,53,Illinois,28,22,6,0.786,...,311.0,400.0,0.778,219.0,899.0,371.0,106.0,103.0,266.0,353.0
1263,2021-01-12,Wisconsin,54,Michigan,77,Wisconsin,29,17,12,0.586,...,311.0,400.0,0.778,219.0,899.0,371.0,106.0,103.0,266.0,353.0
1264,2020-12-06,UCF,58,Michigan,80,UCF,23,11,12,0.478,...,311.0,400.0,0.778,219.0,899.0,371.0,106.0,103.0,266.0,353.0
1265,2020-12-13,Penn State,58,Michigan,62,Penn State,25,11,14,0.440,...,311.0,400.0,0.778,219.0,899.0,371.0,106.0,103.0,266.0,353.0
1266,2021-03-13,Ohio State,68,Michigan,67,Ohio State,29,21,8,0.724,...,311.0,400.0,0.778,219.0,899.0,371.0,106.0,103.0,266.0,353.0
1267,2021-01-19,Maryland,63,Michigan,87,Maryland,29,16,13,0.552,...,311.0,400.0,0.778,219.0,899.0,371.0,106.0,103.0,266.0,353.0
1268,2021-03-12,Maryland,66,Michigan,79,Maryland,29,16,13,0.552,...,311.0,400.0,0.778,219.0,899.0,371.0,106.0,103.0,266.0,353.0
1269,2021-02-18,Rutgers,64,Michigan,71,Rutgers,26,15,11,0.577,...,311.0,400.0,0.778,219.0,899.0,371.0,106.0,103.0,266.0,353.0
1270,2021-01-06,Minnesota,57,Michigan,82,Minnesota,29,14,15,0.483,...,311.0,400.0,0.778,219.0,899.0,371.0,106.0,103.0,266.0,353.0
1271,2021-02-25,Iowa,57,Michigan,79,Iowa,29,21,8,0.724,...,311.0,400.0,0.778,219.0,899.0,371.0,106.0,103.0,266.0,353.0
1272,2021-01-03,Northwestern,66,Michigan,85,Northwestern,24,9,15,0.375,...,311.0,400.0,0.778,219.0,899.0,371.0,106.0,103.0,266.0,353.0

In [227]:
Schedule_and_stats_unplayed[(Schedule_and_stats_unplayed['visitor_neutral']=='Michigan') | (Schedule_and_stats_unplayed['home_neutral']=='Michigan')]

Empty DataFrame
Columns: [Date, visitor_neutral, PTS, home_neutral, PTS.1, School_x, G_x, W_x, L_x, W-L%_x, SRS_x, SOS_x, Conf W_x, Conf L_x, Home W_x, Home L_x, Away W_x, Away L_x, Tm._x, Opp._x, MP_x, FG_x, FGA_x, FG%_x, 3P_x, 3PA_x, 3P%_x, FT_x, FTA_x, FT%_x, ORB_x, TRB_x, AST_x, STL_x, BLK_x, TOV_x, PF_x, School_y, G_y, W_y, L_y, W-L%_y, SRS_y, SOS_y, Conf W_y, Conf L_y, Home W_y, Home L_y, Away W_y, Away L_y, Tm._y, Opp._y, MP_y, FG_y, FGA_y, FG%_y, 3P_y, 3PA_y, 3P%_y, FT_y, FTA_y, FT%_y, ORB_y, TRB_y, AST_y, STL_y, BLK_y, TOV_y, PF_y]
Index: []

[0 rows x 69 columns]

In [228]:
X = Schedule_and_stats_played.drop(["Date","visitor_neutral","home_neutral","School_x","School_y","PTS","PTS.1"], axis=1)
Y = Schedule_and_stats_played[["PTS","PTS.1"]]

In [229]:
reg = tree.DecisionTreeRegressor(random_state=0)
reg = reg.fit(X, Y)

In [230]:
### cross validations
print(cross_val_score(reg, X, Y, cv=5))

#First model performs HORRIBLY!

[-0.50896961 -0.53194417 -0.56663817 -0.49699701 -0.61173584]

In [231]:
# use grid search to determine decision tree depth
params = {"max_depth":range(1,10)}
treereg = tree.DecisionTreeRegressor(random_state=0)
reg2 = GridSearchCV(estimator = treereg, param_grid=params)
reg2.fit(X,Y)
reg2.best_params_

{'max_depth': 3}

In [232]:
means = reg2.cv_results_['mean_test_score']
stds = reg2.cv_results_['std_test_score']
for mean, std, params in zip(means, stds, reg2.cv_results_['params']):
    print("%0.3f (+/-%0.03f) for %r" % (mean, std * 2, params))
    print()

0.028 (+/-0.039) for {'max_depth': 1}

0.066 (+/-0.032) for {'max_depth': 2}

0.077 (+/-0.041) for {'max_depth': 3}

0.071 (+/-0.048) for {'max_depth': 4}

0.059 (+/-0.078) for {'max_depth': 5}

0.026 (+/-0.100) for {'max_depth': 6}

-0.051 (+/-0.085) for {'max_depth': 7}

-0.127 (+/-0.123) for {'max_depth': 8}

-0.169 (+/-0.071) for {'max_depth': 9}

In [233]:
reg3 = RandomForestRegressor(random_state=0)
reg3.fit(X,Y)
print(cross_val_score(reg3, X, Y, cv=5))

[0.20091299 0.18679163 0.19302388 0.16233615 0.17610746]

In [234]:
month, day, year = 3, 18, 2021
date = pd.to_datetime(str(year)+"-"+str(month)+"-"+str(day))
games = Schedule_and_stats_unplayed[Schedule_and_stats_unplayed["Date"]==date]
teams = games[["visitor_neutral", "home_neutral"]]
games = games.drop(["Date","visitor_neutral","home_neutral","School_x","School_y","PTS","PTS.1"], axis=1)
games

,G_x,W_x,L_x,W-L%_x,SRS_x,SOS_x,Conf W_x,Conf L_x,Home W_x,Home L_x,...,FT_y,FTA_y,FT%_y,ORB_y,TRB_y,AST_y,STL_y,BLK_y,TOV_y,PF_y
1,29,25,4,0.862,9.57,-1.62,15,3,14,1,...,317.0,460.0,0.689,251.0,799.0,279.0,128.0,75.0,238.0,329.0
2,26,17,9,0.654,12.42,8.07,13,6,11,1,...,356.0,494.0,0.721,294.0,1015.0,428.0,123.0,126.0,352.0,535.0
3,28,17,11,0.607,-5.30,-5.22,7,8,9,4,...,368.0,521.0,0.706,239.0,850.0,282.0,146.0,76.0,301.0,453.0
4,24,16,8,0.667,-7.48,-10.95,10,3,8,2,...,240.0,354.0,0.678,237.0,821.0,257.0,97.0,91.0,288.0,328.0

In [235]:
games.columns

Index(['G_x', 'W_x', 'L_x', 'W-L%_x', 'SRS_x', 'SOS_x', 'Conf W_x', 'Conf L_x',
       'Home W_x', 'Home L_x', 'Away W_x', 'Away L_x', 'Tm._x', 'Opp._x',
       'MP_x', 'FG_x', 'FGA_x', 'FG%_x', '3P_x', '3PA_x', '3P%_x', 'FT_x',
       'FTA_x', 'FT%_x', 'ORB_x', 'TRB_x', 'AST_x', 'STL_x', 'BLK_x', 'TOV_x',
       'PF_x', 'G_y', 'W_y', 'L_y', 'W-L%_y', 'SRS_y', 'SOS_y', 'Conf W_y',
       'Conf L_y', 'Home W_y', 'Home L_y', 'Away W_y', 'Away L_y', 'Tm._y',
       'Opp._y', 'MP_y', 'FG_y', 'FGA_y', 'FG%_y', '3P_y', '3PA_y', '3P%_y',
       'FT_y', 'FTA_y', 'FT%_y', 'ORB_y', 'TRB_y', 'AST_y', 'STL_y', 'BLK_y',
       'TOV_y', 'PF_y'],
      dtype='object')

In [237]:
def predict_game(visitor, home, predictor, no_home_team = False):
    visitor_stats = stats[stats["School"] == visitor]
    home_stats = stats[stats["School"] == home]
    visitor_stats.reset_index(drop=True, inplace=True)
    home_stats.reset_index(drop=True, inplace=True)
    combined = visitor_stats.join(home_stats, lsuffix="_x", rsuffix=("_y"))
    combined.drop(["School_x", "School_y"], axis=1, inplace=True)
    prediction = predictor.predict(combined)
    if (no_home_team == False):
        teams = pd.DataFrame([[visitor, home]], columns=["visitor_neutral","home_neutral"])
        prediction = pd.DataFrame(prediction, columns = ["score_visitor","score_home"])
        df = pd.concat([teams, prediction], axis=1)
        df = df[["visitor_neutral","score_visitor","home_neutral","score_home"]]
        return df
    else:
        combined2 = home_stats.join(visitor_stats, lsuffix="_x", rsuffix=("_y"))
        combined2.drop(["School_x", "School_y"], axis=1, inplace=True)
        prediction2 = predictor.predict(combined2)
        avg_prediction = [[(prediction[0][0]+prediction2[0][1])/2, (prediction[0][1]+prediction2[0][0])/2]]
        
        teams = pd.DataFrame([[visitor, home]], columns=["visitor_neutral","home_neutral"])
        avg_prediction = pd.DataFrame(avg_prediction, columns = ["score_visitor","score_home"])
        df = pd.concat([teams, avg_prediction], axis=1)
        df = df[["visitor_neutral","score_visitor","home_neutral","score_home"]]
        return df

In [287]:
# Predict NCAA tournament
first_round = pd.DataFrame(columns=["visitor_neutral","score_visitor","home_neutral","score_home"])

home_teams = ["Gonzaga", "Oklahoma", "Creighton", "Virginia","Southern California",
              "Kansas","Oregon","Iowa","Michigan","Louisiana State","Colorado",
              "Florida State","Brigham Young","Texas","Connecticut","Alabama","Baylor",
              "North Carolina","Villanova","Purdue","Texas Tech","Arkansas","Florida",
              "Ohio State","Illinois","Loyola (IL)","Tennessee","Oklahoma State",
              "San Diego State","West Virginia","Clemson","Houston"
              ]
             
away_teams = ["Norfolk State","Missouri","UC-Santa Barbara","Ohio",
                  "Drake","Eastern Washington","Virginia Commonwealth","Grand Canyon",
             "Texas Southern","St. Bonaventure","Georgetown","North Carolina-Greensboro",
             "UCLA","Abilene Christian","Maryland","Iona","Hartford","Wisconsin",
             "Winthrop","North Texas","Utah State","Colgate","Virginia Tech","Oral Roberts",
             "Drexel", "Georgia Tech", "Oregon State","Liberty","Syracuse","Morehead State",
             "Rutgers","Cleveland State"]
for i,j in zip(home_teams, away_teams):
    current_game = predict_game(i,j,reg3,True)
    first_round = pd.concat([first_round,current_game], sort=False)
first_round["winners"] = first_round.apply(lambda row: row["visitor_neutral"] if (row["score_visitor"]>row["score_home"]) else row["home_neutral"], axis=1)

In [288]:
first_round

,visitor_neutral,score_visitor,home_neutral,score_home,winners
0,Gonzaga,83.330500,Norfolk State,70.590750,Gonzaga
0,Oklahoma,71.536333,Missouri,73.713000,Missouri
0,Creighton,72.003333,UC-Santa Barbara,72.382083,UC-Santa Barbara
0,Virginia,71.433000,Ohio,67.515333,Virginia
0,Southern California,69.445417,Drake,69.175500,Southern California
0,Kansas,71.455500,Eastern Washington,70.699583,Kansas
0,Oregon,71.207500,Virginia Commonwealth,69.200000,Oregon
0,Iowa,76.682333,Grand Canyon,74.258833,Iowa
0,Michigan,74.051667,Texas Southern,64.342917,Michigan
0,Louisiana State,70.704167,St. Bonaventure,68.084167,Louisiana State
0,Colorado,72.096202,Georgetown,64.965976,Colorado
0,Florida State,73.000000,North Carolina-Greensboro,71.143333,Florida State
0,Brigham Young,71.021667,UCLA,68.083333,Brigham Young
0,Texas,69.135833,Abilene Christian,68.780500,Texas
0,Connecticut,69.469833,Maryland,68.503762,Connecticut
0,Alabama,75.492167,Iona,67.932333,Alabama
0,Baylor,78.153500,Hartford,66.552333,Baylor
0,North Carolina,70.452917,Wisconsin,68.671667,North Carolina
0,Villanova,71.826750,Winthrop,72.330917,Winthrop
0,Purdue,66.452250,North Texas,66.082667,Purdue
0,Texas Tech,67.886167,Utah State,68.125583,Utah State
0,Arkansas,72.967917,Colgate,72.392083,Arkansas
0,Florida,72.233333,Virginia Tech,68.843333,Florida
0,Ohio State,79.199167,Oral Roberts,74.993000,Ohio State
0,Illinois,77.478750,Drexel,68.160833,Illinois
0,Loyola (IL),68.396667,Georgia Tech,64.215750,Loyola (IL)
0,Tennessee,72.408857,Oregon State,66.977333,Tennessee
0,Oklahoma State,73.505167,Liberty,74.456000,Liberty
0,San Diego State,69.997601,Syracuse,66.849018,San Diego State
0,West Virginia,73.800833,Morehead State,71.583333,West Virginia
0,Clemson,66.248000,Rutgers,65.057917,Clemson
0,Houston,72.770000,Cleveland State,62.705833,Houston

In [289]:
home_teams = np.array(first_round["winners"])[::2]
away_teams = np.array(first_round["winners"])[1::2]
second_round = pd.DataFrame(columns=["visitor_neutral","score_visitor","home_neutral","score_home"])
for i,j in zip(home_teams, away_teams):
    current_game = predict_game(i,j,reg3,True)
    second_round = pd.concat([second_round,current_game], sort=False)
second_round["winners"] = second_round.apply(lambda row: row["visitor_neutral"] if (row["score_visitor"]>row["score_home"]) else row["home_neutral"], axis=1)

In [290]:
second_round

,visitor_neutral,score_visitor,home_neutral,score_home,winners
0,Gonzaga,81.871786,Missouri,74.029321,Gonzaga
0,UC-Santa Barbara,69.458083,Virginia,68.704583,UC-Santa Barbara
0,Southern California,70.424750,Kansas,68.031000,Southern California
0,Oregon,74.721250,Iowa,74.422917,Oregon
0,Michigan,73.971833,Louisiana State,69.191000,Michigan
0,Colorado,69.800595,Florida State,69.349167,Colorado
0,Brigham Young,71.222583,Texas,70.650167,Brigham Young
0,Connecticut,68.644583,Alabama,71.926250,Alabama
0,Baylor,78.301786,North Carolina,70.664048,Baylor
0,Winthrop,73.248214,Purdue,70.483560,Winthrop
0,Utah State,71.960500,Arkansas,72.471167,Arkansas
0,Florida,72.719417,Ohio State,75.533917,Ohio State
0,Illinois,70.011667,Loyola (IL),71.167000,Loyola (IL)
0,Tennessee,71.124417,Liberty,69.089667,Tennessee
0,San Diego State,72.941250,West Virginia,71.995000,San Diego State
0,Clemson,64.388833,Houston,70.390917,Houston

In [291]:
home_teams = np.array(second_round["winners"])[::2]
away_teams = np.array(second_round["winners"])[1::2]
third_round = pd.DataFrame(columns=["visitor_neutral","score_visitor","home_neutral","score_home"])
for i,j in zip(home_teams, away_teams):
    current_game = predict_game(i,j,reg3,True)
    third_round = pd.concat([third_round,current_game], sort=False)
third_round["winners"] = third_round.apply(lambda row: row["visitor_neutral"] if (row["score_visitor"]>row["score_home"]) else row["home_neutral"], axis=1)

In [292]:
third_round

,visitor_neutral,score_visitor,home_neutral,score_home,winners
0,Gonzaga,75.913000,UC-Santa Barbara,71.083167,Gonzaga
0,Southern California,68.907500,Oregon,70.026250,Oregon
0,Michigan,71.130500,Colorado,67.573083,Michigan
0,Brigham Young,73.974500,Alabama,72.320833,Brigham Young
0,Baylor,74.613833,Winthrop,71.445000,Baylor
0,Arkansas,77.631000,Ohio State,76.697667,Arkansas
0,Loyola (IL),68.113583,Tennessee,65.005083,Loyola (IL)
0,San Diego State,64.711667,Houston,65.558583,Houston

In [293]:
home_teams = np.array(third_round["winners"])[::2]
away_teams = np.array(third_round["winners"])[1::2]
fourth_round = pd.DataFrame(columns=["visitor_neutral","score_visitor","home_neutral","score_home"])
for i,j in zip(home_teams, away_teams):
    current_game = predict_game(i,j,reg3,True)
    fourth_round = pd.concat([fourth_round,current_game], sort=False)
fourth_round["winners"] = fourth_round.apply(lambda row: row["visitor_neutral"] if (row["score_visitor"]>row["score_home"]) else row["home_neutral"], axis=1)

In [294]:
fourth_round

  visitor_neutral  score_visitor   home_neutral  score_home      winners
0         Gonzaga      80.496250         Oregon   73.311250      Gonzaga
0        Michigan      68.666333  Brigham Young   68.497917     Michigan
0          Baylor      76.323667       Arkansas   72.290833       Baylor
0     Loyola (IL)      66.128917        Houston   64.879667  Loyola (IL)

In [295]:
home_teams = np.array(fourth_round["winners"])[::2]
away_teams = np.array(fourth_round["winners"])[1::2]
final_four = pd.DataFrame(columns=["visitor_neutral","score_visitor","home_neutral","score_home"])
for i,j in zip(home_teams, away_teams):
    current_game = predict_game(i,j,reg3,True)
    final_four = pd.concat([final_four,current_game], sort=False)
final_four["winners"] = final_four.apply(lambda row: row["visitor_neutral"] if (row["score_visitor"]>row["score_home"]) else row["home_neutral"], axis=1)

In [296]:
final_four

  visitor_neutral  score_visitor home_neutral  score_home  winners
0         Gonzaga      80.174167     Michigan   71.609667  Gonzaga
0          Baylor      68.743833  Loyola (IL)   68.154500   Baylor

In [297]:
home_teams = np.array(final_four["winners"])[::2]
away_teams = np.array(final_four["winners"])[1::2]
championship = pd.DataFrame(columns=["visitor_neutral","score_visitor","home_neutral","score_home"])
for i,j in zip(home_teams, away_teams):
    current_game = predict_game(i,j,reg3,True)
    championship = pd.concat([championship,current_game], sort=False)
championship["winners"] = championship.apply(lambda row: row["visitor_neutral"] if (row["score_visitor"]>row["score_home"]) else row["home_neutral"], axis=1)

In [298]:
championship

  visitor_neutral  score_visitor home_neutral  score_home  winners
0         Gonzaga      76.521917       Baylor   74.979083  Gonzaga

In [104]:

def predict_days_games(month, day, year, predictor, no_home_team = False):
    date = pd.to_datetime(str(year)+"-"+str(month)+"-"+str(day))
    games = Schedule_and_stats_unplayed[Schedule_and_stats_unplayed["Date"]==date]
    teams = games[["visitor_neutral", "home_neutral"]]
    games = games.drop(["Date","visitor_neutral","home_neutral","School_x","School_y","PTS","PTS.1"], axis=1)
    predictions = predictor.predict(games)
    if (no_home_team == True):
        date = pd.to_datetime(str(year)+"-"+str(month)+"-"+str(day))
        games = Schedule_and_stats_unplayed[Schedule_and_stats_unplayed["Date"]==date]
        teams = games[["visitor_neutral", "home_neutral"]]
        games = games.reindex(columns=
        ['Date', 'home_neutral', 'PTS', 'visitor_neutral', 'PTS.1', 'School_y',
       'G_y', 'W_y', 'L_y', 'W-L%_y', 'SRS_y', 'SOS_y', 'Conf W_y', 'Conf L_y',
       'Home W_y', 'Home L_y', 'Away W_y', 'Away L_y', 'Tm._y', 'Opp._y',
       'MP_y', 'FG_y', 'FGA_y', 'FG%_y', '3P_y', '3PA_y', '3P%_y', 'FT_y',
       'FTA_y', 'FT%_y', 'ORB_y', 'TRB_y', 'AST_y', 'STL_y', 'BLK_y', 'TOV_y',
       'PF_y', 'School_x', 'G_x', 'W_x', 'L_x', 'W-L%_x', 'SRS_x', 'SOS_x',
       'Conf W_x', 'Conf L_x', 'Home W_x', 'Home L_x', 'Away W_x', 'Away L_x',
       'Tm._x', 'Opp._x', 'MP_x', 'FG_x', 'FGA_x', 'FG%_x', '3P_x', '3PA_x',
       '3P%_x', 'FT_x', 'FTA_x', 'FT%_x', 'ORB_x', 'TRB_x', 'AST_x', 'STL_x',
       'BLK_x', 'TOV_x', 'PF_x'])
        games = games.drop(["Date","visitor_neutral","home_neutral","School_x","School_y","PTS","PTS.1"], axis=1)
        predictions2 = predictor.predict(games)
    
        predictions3 = []
        for i in range(len(predictions)):
            average1 = (predictions[i][0]+predictions2[i][1])/2
            average2 = (predictions[i][1]+predictions2[i][0])/2
            predictions3.append([average1,average2])

        predictions3 = pd.DataFrame(predictions3, columns = ["score_visitor", "score_home"])
        teams = teams.reset_index(drop=True)
        predictions3 = predictions3.reset_index(drop=True)
        predictions3 = teams.join(predictions3, how='inner')
        predictions3["line"] = predictions3["score_visitor"] - predictions3["score_home"]
        return predictions3
    else:

        predictions = pd.DataFrame(predictions, columns = ["score_visitor", "score_home"])
        teams = teams.reset_index(drop=True)
        predictions = predictions.reset_index(drop=True)
        predictions = teams.join(predictions, how='inner')
        predictions["line"] = predictions["score_visitor"] - predictions["score_home"]
        return predictions

In [36]:
predict_days_games(3,18,2021, reg3, True)

     visitor_neutral      home_neutral  score_visitor  score_home      line
0              Drake     Wichita State      70.355262   66.196750  4.158512
1               UCLA    Michigan State      71.825833   66.881667  4.944167
2  Appalachian State     Norfolk State      72.141143   72.497512 -0.356369
3     Texas Southern  Mount St. Mary's      69.602083   65.372417  4.229667

In [37]:
predict_days_games(3,18,2021, reg3, False)

     visitor_neutral      home_neutral  score_visitor  score_home      line
0              Drake     Wichita State      69.528500   68.148167  1.380333
1               UCLA    Michigan State      70.056667   71.191667 -1.135000
2  Appalachian State     Norfolk State      73.533952   75.002857 -1.468905
3     Texas Southern  Mount St. Mary's      68.589333   62.926833  5.662500

In [38]:

month, day, year = 3, 18, 2021
date = pd.to_datetime(str(year)+"-"+str(month)+"-"+str(day))
games = Schedule_and_stats_unplayed[Schedule_and_stats_unplayed["Date"]==date]
teams = games[["visitor_neutral", "home_neutral"]]
games = games.drop(["Date","visitor_neutral","home_neutral","School_x","School_y","PTS","PTS.1"], axis=1)
games

,G_x,W_x,L_x,W-L%_x,SRS_x,SOS_x,Conf W_x,Conf L_x,Home W_x,Home L_x,...,FT_y,FTA_y,FT%_y,ORB_y,TRB_y,AST_y,STL_y,BLK_y,TOV_y,PF_y
1,29,25,4,0.862,9.57,-1.62,15,3,14,1,...,317.0,460.0,0.689,251.0,799.0,279.0,128.0,75.0,238.0,329.0
2,26,17,9,0.654,12.42,8.07,13,6,11,1,...,356.0,494.0,0.721,294.0,1015.0,428.0,123.0,126.0,352.0,535.0
3,28,17,11,0.607,-5.30,-5.22,7,8,9,4,...,368.0,521.0,0.706,239.0,850.0,282.0,146.0,76.0,301.0,453.0
4,24,16,8,0.667,-7.48,-10.95,10,3,8,2,...,240.0,354.0,0.678,237.0,821.0,257.0,97.0,91.0,288.0,328.0

In [62]:
with pd.option_context('display.max_columns', None):
  display(Schedule_and_stats_unplayed.head(2))

,Date,visitor_neutral,PTS,home_neutral,PTS.1,School_x,G_x,W_x,L_x,W-L%_x,SRS_x,SOS_x,Conf W_x,Conf L_x,Home W_x,Home L_x,Away W_x,Away L_x,Tm._x,Opp._x,MP_x,FG_x,FGA_x,FG%_x,3P_x,3PA_x,3P%_x,FT_x,FTA_x,FT%_x,ORB_x,TRB_x,AST_x,STL_x,BLK_x,TOV_x,PF_x,School_y,G_y,W_y,L_y,W-L%_y,SRS_y,SOS_y,Conf W_y,Conf L_y,Home W_y,Home L_y,Away W_y,Away L_y,Tm._y,Opp._y,MP_y,FG_y,FGA_y,FG%_y,3P_y,3PA_y,3P%_y,FT_y,FTA_y,FT%_y,ORB_y,TRB_y,AST_y,STL_y,BLK_y,TOV_y,PF_y
0,2021-03-17,Toledo,0,Richmond,0,Toledo,29,21,8,0.724,7.64,-1.46,15,4,12,1,7,5,2367.0,2103.0,1175.0,829.0,1811.0,0.458,308.0,817.0,0.377,401.0,515.0,0.779,310.0,1097.0,465.0,177.0,71.0,319.0,444.0,Richmond,21,13,8,0.619,9.55,5.55,6,5,6,4,5,3,1574.0,1453.0,840.0,575.0,1213.0,0.474,156.0,441.0,0.354,268.0,367.0,0.730,135.0,635.0,305.0,186.0,44.0,222.0,320.0
1,2021-03-18,Drake,0,Wichita State,0,Drake,29,25,4,0.862,9.57,-1.62,15,3,14,1,9,2,2245.0,1875.0,1170.0,868.0,1757.0,0.494,204.0,552.0,0.370,305.0,428.0,0.713,300.0,1043.0,399.0,207.0,86.0,299.0,455.0,Wichita State,21,16,5,0.762,9.45,6.82,11,2,10,2,5,2,1520.0,1416.0,850.0,514.0,1261.0,0.408,175.0,512.0,0.342,317.0,460.0,0.689,251.0,799.0,279.0,128.0,75.0,238.0,329.0

In [63]:
predictions = reg3.predict(games)

In [64]:
predictions = pd.DataFrame(predictions, columns = ["score_visitor", "score_home"])

In [65]:
predictions.head()

   score_visitor  score_home
0      69.528500   68.148167
1      70.056667   71.191667
2      73.533952   75.002857
3      68.589333   62.926833

In [66]:
teams = teams.reset_index(drop=True)
predictions = predictions.reset_index(drop=True)
predictions.head(5)

   score_visitor  score_home
0      69.528500   68.148167
1      70.056667   71.191667
2      73.533952   75.002857
3      68.589333   62.926833

In [67]:
predictions = teams.join(predictions, how='inner')

In [68]:
predictions.columns

Index(['visitor_neutral', 'home_neutral', 'score_visitor', 'score_home'], dtype='object')

In [69]:
predictions["line"] = predictions["score_visitor"] - predictions["score_home"]

In [70]:
predictions

     visitor_neutral      home_neutral  score_visitor  score_home      line
0              Drake     Wichita State      69.528500   68.148167  1.380333
1               UCLA    Michigan State      70.056667   71.191667 -1.135000
2  Appalachian State     Norfolk State      73.533952   75.002857 -1.468905
3     Texas Southern  Mount St. Mary's      68.589333   62.926833  5.662500

In [157]:
vegas = pd.read_csv("2020_2021_lines.csv",index_col=0)

In [158]:
vegas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4595 entries, 0 to 42
Data columns (total 4 columns):
Date    4595 non-null object
Home    4595 non-null object
Away    4595 non-null object
Line    3263 non-null float64
dtypes: float64(1), object(3)
memory usage: 179.5+ KB

In [159]:
vegas["Date"] = pd.to_datetime(vegas["Date"])

In [160]:
vegas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4595 entries, 0 to 42
Data columns (total 4 columns):
Date    4595 non-null datetime64[ns]
Home    4595 non-null object
Away    4595 non-null object
Line    3263 non-null float64
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 179.5+ KB

In [161]:
vegas_today = vegas[vegas["Date"].dt.date==dt.date(2021,2,22)]

In [162]:
vegas_today = vegas_today[["Home","Line"]]

In [163]:
predictions_vegas = pd.merge(predictions, vegas_today, left_on = 'home_neutral',right_on = 'Home', how= 'left')                           
#df = pd.merge(df,df2[['Key_Column','Target_Column']],on='Key_Column', how='left')

In [164]:
predictions_vegas = predictions_vegas.drop(columns=["Home"])

In [165]:
predictions_vegas

,visitor_neutral,home_neutral,score_visitor,score_home,line,Line
0,Texas Tech,Oklahoma State,73.626667,73.798333,-0.171667,3.5
1,Alabama A&M,Alcorn State,66.801167,67.198500,-0.397333,NaN
2,Alabama State,Southern,65.208667,72.695667,-7.487000,-11.5
3,Little Rock,Louisiana-Monroe,67.029833,74.324333,-7.294500,NaN
4,Central Arkansas,New Orleans,71.003333,80.908333,-9.905000,-3.5
5,Charleston Southern,Presbyterian,63.061667,69.725833,-6.664167,-3.0
6,Citadel,Mercer,73.960000,79.915000,-5.955000,-8.5
7,VMI,Furman,71.229333,77.642167,-6.412833,NaN
8,Eastern Kentucky,Southeast Missouri State,75.912500,86.147500,-10.235000,NaN
9,Evansville,Drake,67.015000,81.788333,-14.773333,-10.5
10,Grambling,Jackson State,66.029167,67.103333,-1.074167,-6.0
11,Houston Baptist,Northwestern State,75.095833,77.530833,-2.435000,NaN
12,New Mexico,Air Force,64.321667,67.512833,-3.191167,-2.0
13,North Alabama,Liberty,63.125500,77.756833,-14.631333,-16.0
14,Sam Houston State,Lamar,78.452833,67.335833,11.117000,10.0
15,Southeastern Louisiana,Texas A&M-Corpus Christi,67.235000,70.606667,-3.371667,NaN
16,Syracuse,Duke,69.754000,74.005333,-4.251333,-6.0
17,Texas-Arlington,Louisiana,68.789167,75.890000,-7.100833,NaN
18,Texas State,Arkansas State,71.249762,70.273762,0.976000,NaN
19,Valparaiso,Southern Illinois,64.578000,65.511833,-0.933833,-1.5
20,William & Mary,Elon,72.340333,68.282000,4.058333,NaN